body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td 
    margin 0
    padding 0

h1
    text-align center

body
    font-family  "'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"
    font-weight 400


a
    text-decoration none

.header
    height 120px
.app
    width 100vw

.main
    width 50%
    display block
    margin auto

.app__convert-opts
    // float left

