body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td 
    margin 0
    padding 0

h1
    text-align center
    margin-bottom 100px

body
    font-family  "'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"
    font-weight 400
    background linear-gradient(320deg,rgba(118,38,121,1),rgba(74,29,29,1),rgba(83,14,44,1), rgba(15,21,54,1))

a
    text-decoration none

button
    width 200px
    height 50px
    border-radius 40px
    border-style none
    cursor pointer
    background-color red
    border-color red
    
    &.btn 
        color red
        border-color red
        
        &.btn-outline-primary
            width 300px

            &:hover
                background-color red
                border-color red

input
    width 250px
    height 50px
    border-radius 20px
    border-style solid
    cursor pointer


input[type=number] 
    -moz-appearance textfield
    margin 0

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
    -webkit-appearance none


select
    width 250px
    height 50px
    border-radius 20px
    border-style solid
    cursor pointer


.app

.app__block
    width 100vw

    // background rgb(118,38,121)
    // background linear-gradient(90deg, rgba(118,38,121,1) 0%, rgba(74,29,29,1) 37%, rgba(83,14,44,1) 63%, rgba(15,21,54,1) 100%) 
    // background-color #000000
    // background: linear-gradient(320deg,rgba(118,38,121,1),rgba(74,29,29,1),rgba(83,14,44,1), rgba(15,21,54,1))

    

.app__block--child
    // opacity: 0.6



.app__background
    width 70vw
    height 70vh
    margin auto
    // background url("../assets/main-background.jpg")
    background: rgba( 255, 255, 255, 0.55 )
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 )
    backdrop-filter: blur( 9.5px )
    border-radius: 10px
    border: 1px solid rgba( 255, 255, 255, 0.18 )


.main__convert-opts
    display inline-flex
    flex-direction column
    align-items center
    justify-content center
    width 40%
    height 84%
    padding 10px

    .convert-opts--textDPI
        margin-top 25px
        margin-bottom 25px

    label[for=extensão]
        margin-top 50px
        margin-bottom 20px

.main__pdf
    display flex
    justify-content center  
    float right
    width 58%
    height 602px
    margin 10px 10px
    border-style dashed

    &::after
        content ""
        width 150px
        height 150px
        position absolute
        background url("../assets/pdf.png") no-repeat
        background-size contain
        right 22%
        top 30%

    .main__pdf--submit
        display flex
        align-self flex-end
        margin-bottom  30px
