
.button__SendDataToAPI--init
    display none

// .form__pdfURL
//     position absolute
//     bottom 22px
//     left 13%
.button.button__SendDataToAPI
    margin auto
    margin-top 30px

label[for=insert_pdf_url]
    width 100%
    text-align center

.input__pdfUrl
    margin auto
    height 50px

    &.form-control
        width 70%


.form__PDFcontainer
    text-align center
    margin-bottom 30px

.selectPDF
    display none

.selectPDF--disable
    display none

.selectPDF--enable
    display block


@import "./media.styl"

@media $mobile-large

    .form__PDFcontainer
        margin-bottom 50px