
.button__SendDataToAPI--init
    display none

// .form__pdfURL
//     position absolute
//     bottom 22px
//     left 13%
.button.button__SendDataToAPI
    margin auto
    margin-top 30px

label[for=insert_pdf_url]
    text-align center

.input__pdfUrl
    width 250px
    height 50px

.form__PDFcontainer
    text-align center

.button--none
    display none

.button--visible
    display block