.header
    height 100px
    width 100vw
    background transparent linear-gradient(180deg,#000 70%,transparent) 0 0 no-repeat padding-box
    margin-bottom: 100px
    position relative

    
    .header__logo
        background url("../assets/maximize-logo.svg") no-repeat
        position relative
        width 100px
        height 100px