$default-screen            = 1920 - 1px

$desktop-large-screen      = 1680 - 1px
$desktop-medium-screen     = 1440 - 1px
$desktop-small-screen      = 1366 - 1px

$tablet-large-screen       = 1280 - 1px
$tablet-medium-screen      = 1024 - 1px
$tablet-small-screen       = 768 - 1px

$mobile-large-screen       = 640 - 1px
$mobile-medium-screen      = 480 - 1px
$mobile-small-screen       = 375 - 1px


$default        = 'only screen and (max-width: $default-screen)'

$desktop-large  = 'only screen and (max-width: $desktop-large-screen)'
$desktop-medium = 'only screen and (max-width: $desktop-medium-screen)'
$desktop-small  = 'only screen and (max-width: $desktop-small-screen)'

$tablet-large   = 'only screen and (max-width: $tablet-large-screen)'
$tablet-medium  = 'only screen and (max-width: $tablet-medium-screen)'
$tablet-small   = 'only screen and (max-width: $tablet-small-screen)'

$mobile-large   = 'only screen and (max-width: $mobile-large-screen)'
$mobile-medium  = 'only screen and (max-width: $mobile-medium-screen)'
$mobile-small   = 'only screen and (max-width: $mobile-small-screen)'
     