.select__container
    text-align center
    margin-top 20px


.select.select--size.select__pdf-opts
    width 250px
    margin auto

    &.select__pdf-extension
        margin-bottom: 30px

.iframe
    display none


// .label__pdf-opts
//     margin-top 20px

// .form__pdfURL
//     margin-top 20px

.block__pdf-opts
    margin-bottom 30px